/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  width: 75%;
  max-width: 850px;
  margin: 0 auto;
}

.header {
  text-align: center;
}

.header h1 {
  font-family: "Montserrat", Helvetica, Arial;
  font-size: 72px;
  font-weight: 900;
  color: white;
  padding-top: 150px;
  margin-bottom: 10px;
}

.nav {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 30px;
}

.nav ul {
  padding: 0;
  margin: 0;
}

.nav li {
  display: inline;
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 200;
}

.nav li a {
  text-decoration: none;
  color: white;
}

.bodybox {
  font-family: 'Slabo 27px';
  color: white;
  width: 100%;
  background-color: #333333;
  border-radius: 6px;
  border-width: 2px;
  border-color: white;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.bodybox h2 {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  font-size: 26px;

}

.bodybox h3 {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  font-size: 22px;
}

.bodybox p {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  margin-bottom: 0;
  font-size: 18px;
}

.bodybox ul {
  padding-left: 70px;
}

.bodybox li {
  padding-right: 30px;
  font-size: 18px;
}

.bodybox a {
  color: white;
  font-weight: bolder;
}

.col1 {
  width: 60%;
  float: left;
}

.col2 {
  width: 40%;
  float: right;
}

.selected {
  font-weight: 600;
}

.sform, .mform {
  display: none;
}

.sdiscord, .mdiscord {
  display: none;
}

@media (max-width: 1140px) {

  .container {
    max-width: 500px;
  }

  .col1 {
    width: 100%;
    width: 100%;
    background-color: #333333;
    border-radius: 6px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

  .banner {
    display: none;
  }
  .xldiscord, .xlform {
    display: none;
  }
  .mform, .mdiscord {
    display: block;
  }
}

@media (max-width: 670px) {

  .container {
    max-width: 280px;
  }

  .header h1 {
    font-size: 38px;
  }
  .nav li {
    font-size: 22px;
  }

  .mform, .mdiscord {
    display: none;
  }

  .sform, .sdiscord {
    display: block;
  }

}
